@model Food_ordering_system_PROJECT.Models.Product
@{
    ViewBag.Title = "Home Page";
    var listItem = ViewBag.Product;
    String message = ViewBag.message;

}

<head>


    <style>

        * {
            box-sizing: border-box;
        }
        /* Float four columns side by side */
        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
            margin-bottom: 40px;
        }
        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 30px -5px;
        }
            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 10px;
            text-align: left;
            background-color: #f1f1f1;
        }

        a {
            color: #000;
        }
    </style>
</head>
<div style="margin-top:30px">
    @Html.ActionLink("Add product", "Add", "Home", new { @class = "btn btn-success" })
   <a href="~/Categories/List"><button type="button" class="btn btn-success">Categories</button></a>
</div>



<body>

    <div class="row">
        @*=================================================*@
        @*Foreach to Show data*@
        @foreach (Food_ordering_system_PROJECT.Models.Product product in ViewBag.Product)
        {
            <a href="~/Details/Details/@product.id">
                <div class="column">
                    <div class="card">

                        <h5>@product.Category.name</h5>
                        <img src="~/Uploads/@Html.Encode(product.image)" style=" width: 245px;height: 220px;" />
                        <h3 style="color:indigo">Name: @product.name</h3>

                        <h4 style="color:darkblue">Price: @product.price L.E</h4>
                        @{
                            String description = product.description.ToString();
                            if (description.Length > 15)
                            {
                                String des = "";
                                char[] descrip = description.ToCharArray();
                                for (int i = 0; i < 15; i++)
                                {

                                    des += descrip[i];
                                }
                                des += ".....more";
                                <p>Description:@des</p>
                            }
                            else
                            {
                                <p>@description</p>
                            }
                           

                        }


                    </div>
                </div>
            </a>
        }

        <div>
            <h1>@message</h1>
        </div>
    </div>


</body>
