@model IEnumerable<Food_ordering_system_PROJECT.Models.Product>

@{
    ViewBag.Title = "Home Page";
    String message = ViewBag.message;
}
<head>


    <style>


        * {
            box-sizing: border-box;
        }
        /* Float four columns side by side */
        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
            margin-bottom: 40px;
        }
        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 30px -5px;
        }
            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 10px;
            text-align: left;
            background-color: #f1f1f1;
        }

        a {
            color: #000;
        }
    </style>
</head>
<body>
    <div class="container">


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title" style="color:crimson;text-align:center">Your Cart</h3>
                    </div>
                    <div class="modal-body">

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btnbtn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:30px">
        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal">View Cart</button>
    </div>

    <div class="row">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="column">
                    <div class="card">

                        <img src="~/Uploads/@Html.Encode(item.image)" style=" width: 245px;height: 220px;" />
                        <h4>@item.name</h4>
                        <h4>@item.price L.E</h4>

                        <div style="width:1150px;height:60px;overflow:auto">
                            <p>@Html.ActionLink(".....see more", "DetailsProduct", new { id = item.id })</p>

                        </div>
                        <h3 style="color:aqua;font-family:'Arial Rounded MT';text-align:center"> <span class="btn btn-danger">@Html.ActionLink("Add to cart", "Addtocart/"+ item.id , "Cart")</span></h3>
                    </div>
                </div>

            }
        }

        <div>
            <h1>@message</h1>
        </div>
    </div>
</body>

